In [80]:
import pandas as pd
import gmaps
import requests
from pprint import pprint

## Disable jupyter notebook warning

In [94]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from config import gkey
gkey

'AIzaSyDV5qmhXKZ9KFQJd5oJlVSNpJzggRlx0Eo'

In [8]:
df = pd.read_csv("weather_data.csv")
df

,Unnamed: 0,City,Latitude,Longitude,Temperature F,Humidity %,Cloudiness %,Wind Speed MPH
0,0,port alfred,-33.5906,26.8910,72.00,84,9,4.00
1,1,khatanga,71.9667,102.5000,-41.60,80,34,7.40
2,2,busselton,-33.6500,115.3333,61.88,84,0,1.99
3,3,kiruna,67.8557,20.2251,15.80,92,90,11.50
4,4,cockburn town,21.4612,-71.1419,74.62,73,84,21.00
...,...,...,...,...,...,...,...,...
577,632,sudak,44.8500,34.9667,46.98,84,98,11.23
578,633,batagay-alyta,67.8006,130.4114,-34.78,82,100,2.06
579,634,hirara,24.8000,125.2833,67.78,68,77,17.20
580,635,tommot,58.9564,126.2925,-39.17,76,100,8.03
581,636,trelew,-43.2490,-65.3051,82.83,22,76,21.99

## Create a heat map that displays the humidity for every city from WeatherPy.

In [10]:
gmaps.configure(api_key=gkey)
locations = df[["Latitude", "Longitude"]]
rating = df["Humidity %"]

In [66]:
figure_layout = {
    'width': '600px',
    'height': '480px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 0'
}
fig = gmaps.figure(layout=figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,
                                    weights=rating,
                                    dissipating=False,
                                    max_intensity=100,
                                    point_radius=2
                                )
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='480px', margin='0 auto 0 0', padding='1px', width…

## Narrow down the DataFrame to find your ideal weather condition.
- A max temperature lower than 80 degrees but higher than 70.
- Wind speed less then 10 mph
- Zero cloudiness

In [145]:
ideal_weather_df = df[(df["Temperature F"] < 80) 
                      & (df["Temperature F"] > 70) 
                      & (df["Wind Speed MPH"] < 10) 
                      & (df["Humidity %"] < 60)]
ideal_weather_df = ideal_weather_df.reset_index(drop=True)
ideal_weather_df

,Unnamed: 0,City,Latitude,Longitude,Temperature F,Humidity %,Cloudiness %,Wind Speed MPH
0,81,abeche,13.8292,20.8324,75.07,19,0,8.66
1,130,diffa,13.3154,12.6113,72.77,20,0,6.31
2,137,atar,20.5169,-13.0499,72.16,21,92,8.52
3,142,alampur,15.8833,78.1500,70.21,55,90,6.46
4,175,mbaiki,3.8678,17.9892,76.32,58,33,2.33
5,314,pueblo nuevo,23.3833,-105.3833,76.48,20,7,6.35
6,360,bethanien,-26.5020,17.1583,77.36,17,0,9.60
7,392,adrar,20.5022,-10.0711,70.05,20,18,7.81
8,405,araouane,18.9048,-3.5265,70.29,18,21,9.44
9,417,bawku,11.0616,-0.2417,79.68,15,13,8.19
10,421,durango,24.8333,-104.8333,70.45,23,0,7.94
11,435,ankpa,7.3706,7.6253,78.46,24,73,0.49
12,462,maine-soroa,13.2114,12.0241,71.87,21,0,6.71
13,507,broken hill,-31.9500,141.4333,71.60,33,40,5.75
14,551,kasese,0.1833,30.0833,73.18,48,97,3.11
15,610,yuli,9.6989,10.2744,79.14,18,0,4.92

In [146]:
ideal_weather_locations = ideal_weather_df[["Latitude", "Longitude"]]
# ideal_weather_city_layer = gmaps.marker_layer(ideal_weather_locations)
ideal_weather_city_layer = gmaps.symbol_layer(ideal_weather_locations,
                                                fill_color='lime',
                                                stroke_color='lime',
                                                scale=2
                                             )
fig.add_layer(ideal_weather_city_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='480px', margin='0 auto 0 0', padding='1px', width…

### Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

In [148]:
ideal_weather_df["Hotel Name"] = ""
ideal_weather_df["Country"] = ""
ideal_weather_df

,Unnamed: 0,City,Latitude,Longitude,Temperature F,Humidity %,Cloudiness %,Wind Speed MPH,Hotel Name,Country
0,81,abeche,13.8292,20.8324,75.07,19,0,8.66,,
1,130,diffa,13.3154,12.6113,72.77,20,0,6.31,,
2,137,atar,20.5169,-13.0499,72.16,21,92,8.52,,
3,142,alampur,15.8833,78.1500,70.21,55,90,6.46,,
4,175,mbaiki,3.8678,17.9892,76.32,58,33,2.33,,
5,314,pueblo nuevo,23.3833,-105.3833,76.48,20,7,6.35,,
6,360,bethanien,-26.5020,17.1583,77.36,17,0,9.60,,
7,392,adrar,20.5022,-10.0711,70.05,20,18,7.81,,
8,405,araouane,18.9048,-3.5265,70.29,18,21,9.44,,
9,417,bawku,11.0616,-0.2417,79.68,15,13,8.19,,
10,421,durango,24.8333,-104.8333,70.45,23,0,7.94,,
11,435,ankpa,7.3706,7.6253,78.46,24,73,0.49,,
12,462,maine-soroa,13.2114,12.0241,71.87,21,0,6.71,,
13,507,broken hill,-31.9500,141.4333,71.60,33,40,5.75,,
14,551,kasese,0.1833,30.0833,73.18,48,97,3.11,,
15,610,yuli,9.6989,10.2744,79.14,18,0,4.92,,

In [154]:
# Create a function to use Google palce api to do type search, return hotle name
def search_hotel(lat, lon, types, radius, api_key):
    Google_Places_URL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": f"{lat}, {lon}",
        "types": types,
        "radius": radius,
        "key": api_key
    }
    try:
        response = requests.get(Google_Places_URL, params=params)
    except requests.exceptions.RequestException:
        pass
    else:
        try: 
            hotel_name = response.json()["results"][0]["name"]
        except (KeyError, IndexError):
            print("Missing field/result ... skipping")
        else:
            return hotel_name

### use reverse geocoding to find country
https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=YOUR_API_KEY

In [155]:
# Create a function to do reverse geocoding, return country name
def find_country(lat, lon, api_key):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {
        "latlng": f"{lat},{lon}",
        "key": api_key
    }
    
    try:
        response = requests.get(url=base_url, params=params)
    except requests.exceptions.RequestException:
        pass
    else:
        try:
            address = response.json()["results"][0]["formatted_address"]
        except (KeyError, IndexError):
            print("Missing field/result ... skipping")
        else:
            return address.split(",")[-1].strip()

In [156]:

for index, row in ideal_weather_df.iterrows():
    hotel_name = search_hotel(
                                lat=row['Latitude'],
                                lon=row['Longitude'],
                                types="lodging",
                                radius=5000,
                                api_key=gkey  
                            )
    ideal_weather_df.loc[index, "Hotel Name"] = hotel_name
    
    country = find_country(lat=row['Latitude'],
                          lon=row['Longitude'],
                          api_key=gkey)
    
    ideal_weather_df.loc[index, "Country"] = country

Missing field/result ... skipping
Missing field/result ... skipping
Missing field/result ... skipping
Missing field/result ... skipping
Missing field/result ... skipping
Missing field/result ... skipping
Missing field/result ... skipping

In [157]:
ideal_weather_df

,Unnamed: 0,City,Latitude,Longitude,Temperature F,Humidity %,Cloudiness %,Wind Speed MPH,Hotel Name,Country
0,81,abeche,13.8292,20.8324,75.07,19,0,8.66,Assaleh Hamdan Haroune,Chad
1,130,diffa,13.3154,12.6113,72.77,20,0,6.31,ProDAF/Diffa,Niger
2,137,atar,20.5169,-13.0499,72.16,21,92,8.52,Oumou Elghoura,Mauritania
3,142,alampur,15.8833,78.1500,70.21,55,90,6.46,Haritha Hotel Alampur,India
4,175,mbaiki,3.8678,17.9892,76.32,58,33,2.33,None,Central African Republic
5,314,pueblo nuevo,23.3833,-105.3833,76.48,20,7,6.35,None,Mexico
6,360,bethanien,-26.5020,17.1583,77.36,17,0,9.60,Bethanie Hotel,Namibia
7,392,adrar,20.5022,-10.0711,70.05,20,18,7.81,None,Mauritania
8,405,araouane,18.9048,-3.5265,70.29,18,21,9.44,None,Mali
9,417,bawku,11.0616,-0.2417,79.68,15,13,8.19,Ultimate Guest House,Ghana
10,421,durango,24.8333,-104.8333,70.45,23,0,7.94,None,Mexico
11,435,ankpa,7.3706,7.6253,78.46,24,73,0.49,AA Suites,Nigeria
12,462,maine-soroa,13.2114,12.0241,71.87,21,0,6.71,None,Niger
13,507,broken hill,-31.9500,141.4333,71.60,33,40,5.75,Royal Exchange Hotel,Australia
14,551,kasese,0.1833,30.0833,73.18,48,97,3.11,Sandton Hotel Kasese,Uganda
15,610,yuli,9.6989,10.2744,79.14,18,0,4.92,None,Nigeria

In [158]:
ideal_weather_df.dropna()

,Unnamed: 0,City,Latitude,Longitude,Temperature F,Humidity %,Cloudiness %,Wind Speed MPH,Hotel Name,Country
0,81,abeche,13.8292,20.8324,75.07,19,0,8.66,Assaleh Hamdan Haroune,Chad
1,130,diffa,13.3154,12.6113,72.77,20,0,6.31,ProDAF/Diffa,Niger
2,137,atar,20.5169,-13.0499,72.16,21,92,8.52,Oumou Elghoura,Mauritania
3,142,alampur,15.8833,78.1500,70.21,55,90,6.46,Haritha Hotel Alampur,India
6,360,bethanien,-26.5020,17.1583,77.36,17,0,9.60,Bethanie Hotel,Namibia
9,417,bawku,11.0616,-0.2417,79.68,15,13,8.19,Ultimate Guest House,Ghana
11,435,ankpa,7.3706,7.6253,78.46,24,73,0.49,AA Suites,Nigeria
13,507,broken hill,-31.9500,141.4333,71.60,33,40,5.75,Royal Exchange Hotel,Australia
14,551,kasese,0.1833,30.0833,73.18,48,97,3.11,Sandton Hotel Kasese,Uganda

In [173]:
markers = gmaps.marker_layer(locations=ideal_weather_df[["Latitude", "Longitude"]],
                            hover_text=[f"Name:\n{row['Hotel Name']}\nCity:\n{row['City']}\nCountry:\n{row['Country']}" 
                                                            for index, row in ideal_weather_df.iterrows()])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='480px', margin='0 auto 0 0', padding='1px', width…

In [171]:
markers = gmaps.marker_layer(locations=ideal_weather_df[["Latitude", "Longitude"]],
                            hover_text=ideal_weather_df[["Hotel Name", "City", "Country"]],
                            )
fig.add_layer(markers)
fig

KeyError: 0